body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle 993px at .5% 50.5%,rgba(137,171,245,.37) 0,#f5f7fc 100.2%);
  font-family: Varela Round,sans-serif;
}